<link rel="import" href="../polymer/polymer.html">
<link href="../page-er/page-er.html" rel="import">

<polymer-element name="dh-discussion">
    <template>
        <style>


        </style>
        <div class="container">
            <div>
                <textarea></textarea>
                <input type="button" value="Send">
            </div>
            <div>
                <template id="posts" repeat="{{renderedPosts}}">
                    <div>
                        <span>{{date}}</span>
                        <span>{{name}}</span>
                        <span>{{description}}</span>span>
                    </div>
                </template>
            </div>
            <page-er id="pager" data="{{posts}}" perpage="5"></page-er>
        </div>
        <script>
            //Anytime our paged set changes, update the view
            document.querySelector('#pager').addEventListener('pager-change', function(e) {
                document.querySelector('#pager').posts = {posts: e.detail.data};
            });
        </script>
    </template>

    <script>
        Polymer({
            posts: [],
            postsChanged: function() {
                this.$.pager.data = this.posts;
            }
        });
    </script>
</polymer-element>
